{
  "presets": [
    ['env', {
      loose: true,
      target: {
        node: true,
      },
    }],
    "stage-3",
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
  ]
}